<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= homeContent%></p>
<%postsA.forEach(function(post){%>
   <h1><%=post.title%></h1>
   <p><%=post.Body%></p>
<%})%>




<%- include('partials/footer'); -%>